<section class="achievement-section-3 fix section-bg-2">
    <div class="shape-image">
        <img alt="shape-img" src="/img/achiv-shape.png" />
    </div>
    <div class="container">
        <div class="achievement-wrapper style-2">
            <div class="section-title mb-0">
                <span class="text-white wow fadeInUp">
                    دستاورد
                </span>
                <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">
                    ما در حال افزایش
                    <br />
                    موفقیت تجاری
                </h2>
            </div>
            <div class="counter-area">
                <div class="counter-items wow fadeInUp" data-wow-delay=".3s">
                    <div class="icon">
                        <img alt="icon-img" src="/img/achievement-icon/01.svg" />
                    </div>
                    <div class="content">
                        <h2>
                            <span class="count">
                                6561
                            </span>
                            +
                        </h2>
                        <p>
                            مشتریان راضی
                        </p>
                    </div>
                </div>
                <div class="counter-items wow fadeInUp" data-wow-delay=".5s">
                    <div class="icon">
                        <img alt="icon-img" src="/img/achievement-icon/02.svg" />
                    </div>
                    <div class="content">
                        <h2>
                            <span class="count">
                                600
                            </span>
                            +
                        </h2>
                        <p>
                            پروژه های تمام شده
                        </p>
                    </div>
                </div>
                <div class="counter-items wow fadeInUp" data-wow-delay=".7s">
                    <div class="icon">
                        <img alt="icon-img" src="/img/achievement-icon/03.svg" />
                    </div>
                    <div class="content">
                        <h2>
                            <span class="count">
                                250
                            </span>
                            +
                        </h2>
                        <p>
                            کارشناسان ماهر
                        </p>
                    </div>
                </div>
                <div class="counter-items wow fadeInUp" data-wow-delay=".9s">
                    <div class="icon">
                        <img alt="icon-img" src="/img/achievement-icon/04.svg" />
                    </div>
                    <div class="content">
                        <h2>
                            <span class="count">
                                5,90
                            </span>
                            +
                        </h2>
                        <p>
                            پست های رسانه ای
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
