
<div class="array-button">
    <button class="array-prev">
        <i class="fal fa-arrow-right">
        </i>
    </button>
    <button class="array-next">
        <i class="fal fa-arrow-left">
        </i>
    </button>
</div>