<div class="brand-section fix section-padding pt-0">
<div class="container">
    <div class="brand-wrapper">
        <h6 class="text-center wow fadeInUp" data-wow-delay=".3s">
            1k + برندها به ما اعتماد کنید
        </h6>
        <div class="swiper brand-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand-image">
                        <img alt="brand-img" src="/img/brand.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-image">
                        <img alt="brand-img" src="/img/brand.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-image">
                        <img alt="brand-img" src="/img/brand.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-image">
                        <img alt="brand-img" src="/img/brand.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand-image">
                        <img alt="brand-img" src="/img/brand.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>