<footer class="footer-section footer-bg">
    <div class="footer-shape-4">
        <img alt="shape-img" src="/img/footer-shape-4.png" />
    </div>
    <div class="shape-2">
        <img alt="shape-img" src="/img/footer-shape-3.png" />
    </div>
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>
                                درباره ما
                            </h3>
                        </div>
                        <div class="footer-content">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </p>
                            <div class="social-icon d-flex align-items-center">
                                <a href="#">
                                    <i class="fab fa-facebook-f">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-youtube">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>
                                لینک های سریع
                            </h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="about.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    درباره اينفوتک
                                </a>
                            </li>
                            <li>
                                <a href="service.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    خدمات ما
                                </a>
                            </li>
                            <li>
                                <a href="news.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    وبلاگ های ما
                                </a>
                            </li>
                            <li>
                                <a href="faq.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    سوالات متداول
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    با ما تماس بگیرید
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-footer-widget style-margin">
                        <div class="widget-head">
                            <h3>
                                راه حل فناوری اطلاعات
                            </h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="service-details.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    مدیریت فناوری اطلاعات
                                </a>
                            </li>
                            <li>
                                <a href="service-details.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    توسعه وب
                                </a>
                            </li>
                            <li>
                                <a href="service-details.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    امنیت سایبری
                                </a>
                            </li>
                            <li>
                                <a href="service-details.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    بهینه سازی سئو
                                </a>
                            </li>
                            <li>
                                <a href="service-details.html">
                                    <i class="fa-solid fa-chevron-left">
                                    </i>
                                    توسعه برنامه
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                    <div class="single-footer-widget style-margin">
                        <div class="widget-head">
                            <h3>
                                خبرنامه
                            </h3>
                        </div>
                        <div class="footer-content">
                            <p>
                                برای دریافت آخرین به روز رسانی ها، برای جستجوی خبرنامه هفتگی ثبت نام کنید.
                            </p>
                            <div class="footer-input">
                                <input id="email2" placeholder="آدرس ايميل" type="email" />
                                <button class="newsletter-btn" type="submit">
                                    <i class="fab fa-telegram-plane">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom style-3">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <div class="footer-logo wow fadeInRight" data-wow-delay=".3s">
                    <a href="index.html">
                        <img alt="logo-img" src="/img/logo/white-logo.svg" />
                    </a>
                </div>
                <p class="wow fadeInLeft color-2" data-wow-delay=".5s">
                    © همه حق چاپ 2024 توسط
                    <a href="index.html">
                        اینفوتک
                    </a>
                </p>
            </div>
        </div>
        <a class="scroll-icon" href="#" id="scrollUp">
            <i class="far fa-arrow-up">
            </i>
        </a>
    </div>
</footer>