<header>
    <div class="header-top-section top-style-3">
        <div class="container">
            <div class="header-top-wrapper">
                <ul class="contact-list">
                    <li>
                        <i class="far fa-envelope">
                        </i>
                        <a class="link" href="mailto:info@example.com">
                            info@example.com
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone-volume">
                        </i>
                        <a href="tel:2086660112">
                            +208-666-0112
                        </a>
                    </li>
                </ul>
                <div class="top-left">
                    <div class="flag-wrap">
                        <div class="flag">
                            <img alt="flag" src="/img/flag.png" />
                        </div>
                        <div class="nice-select" tabindex="0">
                            <span class="current">
                                انگلیسی
                            </span>
                            <ul class="list">
                                <li class="option selected focus" data-value="1">
                                    انگلیسی
                                </li>
                                <li class="option" data-value="1">
                                    بنگلا
                                </li>
                                <li class="option" data-value="1">
                                    هندی
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-icon d-flex align-items-center">
                        <span>
                            ما را دنبال کنید:
                        </span>
                        <a href="#">
                            <i class="fab fa-facebook-f">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-youtube">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-3" id="header-sticky">
        <div class="plane-shape">
            <img alt="shape-img" src="/img/plane.png" />
        </div>
        <div class="container">
            <div class="mega-menu-wrapper">
                <div class="header-main">
                    <div class="header-right">
                        <div class="logo">
                            <a class="header-logo" href="index.html">
                                <img alt="logo-img" src="/img/logo/black-logo.svg" />
                            </a>
                        </div>
                    </div>
                    <div class="header-left d-flex justify-content-end align-items-center">
                        <div class="mean__menu-wrapper">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-dropdown active menu-thumb">
                                            <a href="index.html">
                                                صفحه اصلی
                                                <i class="fas fa-angle-down">
                                                </i>
                                            </a>
                                            <ul class="submenu has-homemenu">
                                                <li>
                                                    <div class="homemenu-items">
                                                        <div class="homemenu">
                                                            <div class="homemenu-thumb">
                                                                <img alt="img" src="/img/header/home-1.jpg" />
                                                                <div class="demo-button">
                                                                    <a class="theme-btn" href="index.html">
                                                                        <span>
                                                                            چند صفحه
                                                                        </span>
                                                                    </a>
                                                                    <a class="theme-btn" href="index-one-page.html">
                                                                        <span>
                                                                            یک صفحه
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    صفحه اصلی 01
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img alt="img" src="/img/header/home-2.jpg" />
                                                                <div class="demo-button">
                                                                    <a class="theme-btn" href="index-2.html">
                                                                        <span>
                                                                            چند صفحه
                                                                        </span>
                                                                    </a>
                                                                    <a class="theme-btn" href="index-two-page.html">
                                                                        <span>
                                                                            یک صفحه
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    صفحه اصلی 02
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img alt="img" src="/img/header/home-3.jpg" />
                                                                <div class="demo-button">
                                                                    <a class="theme-btn" href="index-3.html">
                                                                        <span>
                                                                            چند صفحه
                                                                        </span>
                                                                    </a>
                                                                    <a class="theme-btn" href="index-three-page.html">
                                                                        <span>
                                                                            یک صفحه
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    صفحه اصلی 03
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="homemenu">
                                                            <div class="homemenu-thumb mb-15">
                                                                <img alt="img" src="/img/header/home-4.jpg" />
                                                                <div class="demo-button">
                                                                    <a class="theme-btn" href="index-4.html">
                                                                        <span>
                                                                            چند صفحه
                                                                        </span>
                                                                    </a>
                                                                    <a class="theme-btn" href="index-four-page.html">
                                                                        <span>
                                                                            یک صفحه
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu-content text-center">
                                                                <h4 class="homemenu-title">
                                                                    صفحه اصلی 04
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about.html">
                                                درباره
                                            </a>
                                        </li>
                                        <li>
                                            <a href="news.html">
                                                خدمات
                                                <i class="fas fa-angle-down">
                                                </i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="service.html">
                                                        خدمات
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="service-carousel.html">
                                                        خدمات کروسل
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="service-details.html">
                                                        جزئیات خدمات
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="news.html">
                                                صفحات
                                                <i class="fas fa-angle-down">
                                                </i>
                                            </a>
                                            <ul class="submenu">
                                                <li class="has-dropdown">
                                                    <a href="project.html">
                                                        پروژه ها
                                                        <i class="fas fa-angle-down">
                                                        </i>
                                                    </a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="project.html">
                                                                پروژه
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="project-carousel.html">
                                                                پروژه کروسل
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="project-details.html">
                                                                جزئیات پروژه
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-dropdown">
                                                    <a href="team.html">
                                                        تیم
                                                        <i class="fas fa-angle-down">
                                                        </i>
                                                    </a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="team.html">
                                                                تیم ما
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="team-carousel.html">
                                                                تيم کروسل
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="team-details.html">
                                                                جزئیات تیم
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="pricing.html">
                                                        قیمت گذاری
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="faq.html">
                                                        سوالات متداول
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="404.html">
                                                        صفحه 404
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="news.html">
                                                وبلاگ
                                                <i class="fas fa-angle-down">
                                                </i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="news.html">
                                                        وبلاگ گريد
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="news-standard.html">
                                                        وبلاگ استاندارد
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="news-details.html">
                                                        جزئیات وبلاگ
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">
                                                تماس
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <a class="search-trigger search-icon" href="#0">
                            <i class="fal fa-search">
                            </i>
                        </a>
                        <div class="header-button">
                            <a class="theme-btn bg-white" href="contact.html">
                                <span>
                                    دریافت یک نقل قول
                                    <i class="fa-solid fa-arrow-left-long">
                                    </i>
                                </span>
                            </a>
                        </div>
                        <div class="header__hamburger d-lg-none my-auto">
                            <div class="sidebar__toggle">
                                <i class="fas fa-bars">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- جستجو...ea Start -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close">
        </i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input class="main-search-input" placeholder="جستجو..." type="search" />
                </div>
            </form>
        </div>
    </div>
</div>