<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="gramentheme" name="author" />
    <meta content="Infotek - IT Solution &amp; Technology HTML Template" name="description" />
    <!-- ======== Page title ============ -->
    <title>
        اينفوتک
    </title>
    <!--<< Favcion >>-->
    <link href="/img/favicon.svg" rel="shortcut icon" />
    <!--<< Bootstrap min.css >>-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--<< All Min Css >>-->
    <link href="/lib/all/all.min.css" rel="stylesheet" />
    <!--<< Animate.css >>-->
    <link href="/lib/animate/animate.css" rel="stylesheet" />
    <!--<< Magnific Popup.css >>-->
    <link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!--<< MeanMenu.css >>-->
    <link href="/lib/meanmenu/meanmenu.css" rel="stylesheet" />
    <!--<< Swiper Bundle.css >>-->
    <link href="/lib/swiper-bundle/swiper-bundle.min.css" rel="stylesheet" />
    <!--<< Nice Select.css >>-->
    <link href="/lib/nice-select/nice-select.css" rel="stylesheet" />
    <!--<< Main.css >>-->
    <link href="/css/Customer/main.css" rel="stylesheet" />
</head>
<body>
    <!-- Preloader Start -->
    <div class="preloader" id="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
                <span class="letters-loading" data-text-preloader="I">
                    I
                </span>
                <span class="letters-loading" data-text-preloader="N">
                    N
                </span>
                <span class="letters-loading" data-text-preloader="F">
                    F
                </span>
                <span class="letters-loading" data-text-preloader="O">
                    O
                </span>
                <span class="letters-loading" data-text-preloader="T">
                    T
                </span>
                <span class="letters-loading" data-text-preloader="E">
                    E
                </span>
                <span class="letters-loading" data-text-preloader="K">
                    K
                </span>
            </div>
            <p class="text-center">
                بارگذاری
            </p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-right">
                    <div class="bg">
                    </div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg">
                    </div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg">
                    </div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<< Mouse Cursor Start >>-->
    <div class="mouse-cursor cursor-outer">
    </div>
    <div class="mouse-cursor cursor-inner">
    </div>
    <!-- Offcanvas Area Start -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img alt="logo-img" src="/img/logo/black-logo.svg" />
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times">
                                </i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-lg-block">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                    </p>
                    <div class="mobile-menu fix mb-3">
                    </div>
                    <div class="offcanvas__contact">
                        <h4>
                            اطلاعات تماس
                        </h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt">
                                    </i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="#" target="_blank">
                                        خیابان اصلی، ملبورن، استرالیا
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope">
                                    </i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@azent.com">
                                        <span class="mailto:info@example.com">
                                            info@example.com
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock">
                                    </i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="#" target="_blank">
                                        روز جمعه، 09 صبح تا 5 بعد از ظهر
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone">
                                    </i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">
                                        +11002345909
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="header-button mt-4">
                            <a class="theme-btn text-center" href="contact.html">
                                <span>
                                    دریافت یک نقل قول
                                    <i class="fa-solid fa-arrow-left-long">
                                    </i>
                                </span>
                            </a>
                        </div>
                        <div class="social-icon d-flex align-items-center">
                            <a href="#">
                                <i class="fab fa-facebook-f">
                                </i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter">
                                </i>
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube">
                                </i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay">
    </div>
    <!-- Header Section Start -->
    <header>
        <div class="header-top-section top-style-3">
            <div class="container">
                <div class="header-top-wrapper">
                    <ul class="contact-list">
                        <li>
                            <i class="far fa-envelope">
                            </i>
                            <a class="link" href="mailto:info@example.com">
                                info@example.com
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-volume">
                            </i>
                            <a href="tel:2086660112">
                                +208-666-0112
                            </a>
                        </li>
                    </ul>
                    <div class="top-left">
                        <div class="flag-wrap">
                            <div class="flag">
                                <img alt="flag" src="/img/flag.png" />
                            </div>
                            <div class="nice-select" tabindex="0">
                                <span class="current">
                                    انگلیسی
                                </span>
                                <ul class="list">
                                    <li class="option selected focus" data-value="1">
                                        انگلیسی
                                    </li>
                                    <li class="option" data-value="1">
                                        بنگلا
                                    </li>
                                    <li class="option" data-value="1">
                                        هندی
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-icon d-flex align-items-center">
                            <span>
                                ما را دنبال کنید:
                            </span>
                            <a href="#">
                                <i class="fab fa-facebook-f">
                                </i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter">
                                </i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-linkedin-in">
                                </i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-3" id="header-sticky">
            <div class="plane-shape">
                <img alt="shape-img" src="/img/plane.png" />
            </div>
            <div class="container">
                <div class="mega-menu-wrapper">
                    <div class="header-main">
                        <div class="header-right">
                            <div class="logo">
                                <a class="header-logo" href="index.html">
                                    <img alt="logo-img" src="/img/logo/black-logo.svg" />
                                </a>
                            </div>
                        </div>
                        <div class="header-left d-flex justify-content-end align-items-center">
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="has-dropdown active menu-thumb">
                                                <a href="index.html">
                                                    صفحه اصلی
                                                    <i class="fas fa-angle-down">
                                                    </i>
                                                </a>
                                                <ul class="submenu has-homemenu">
                                                    <li>
                                                        <div class="homemenu-items">
                                                            <div class="homemenu">
                                                                <div class="homemenu-thumb">
                                                                    <img alt="img" src="/img/header/home-1.jpg" />
                                                                    <div class="demo-button">
                                                                        <a class="theme-btn" href="index.html">
                                                                            <span>
                                                                                چند صفحه
                                                                            </span>
                                                                        </a>
                                                                        <a class="theme-btn" href="index-one-page.html">
                                                                            <span>
                                                                                یک صفحه
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        صفحه اصلی 01
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img alt="img" src="/img/header/home-2.jpg" />
                                                                    <div class="demo-button">
                                                                        <a class="theme-btn" href="index-2.html">
                                                                            <span>
                                                                                چند صفحه
                                                                            </span>
                                                                        </a>
                                                                        <a class="theme-btn" href="index-two-page.html">
                                                                            <span>
                                                                                یک صفحه
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        صفحه اصلی 02
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img alt="img" src="/img/header/home-3.jpg" />
                                                                    <div class="demo-button">
                                                                        <a class="theme-btn" href="index-3.html">
                                                                            <span>
                                                                                چند صفحه
                                                                            </span>
                                                                        </a>
                                                                        <a class="theme-btn" href="index-three-page.html">
                                                                            <span>
                                                                                یک صفحه
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        صفحه اصلی 03
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                            <div class="homemenu">
                                                                <div class="homemenu-thumb mb-15">
                                                                    <img alt="img" src="/img/header/home-4.jpg" />
                                                                    <div class="demo-button">
                                                                        <a class="theme-btn" href="index-4.html">
                                                                            <span>
                                                                                چند صفحه
                                                                            </span>
                                                                        </a>
                                                                        <a class="theme-btn" href="index-four-page.html">
                                                                            <span>
                                                                                یک صفحه
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="homemenu-content text-center">
                                                                    <h4 class="homemenu-title">
                                                                        صفحه اصلی 04
                                                                    </h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="about.html">
                                                    درباره
                                                </a>
                                            </li>
                                            <li>
                                                <a href="news.html">
                                                    خدمات
                                                    <i class="fas fa-angle-down">
                                                    </i>
                                                </a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="service.html">
                                                            خدمات
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="service-carousel.html">
                                                            خدمات کروسل
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="service-details.html">
                                                            جزئیات خدمات
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown">
                                                <a href="news.html">
                                                    صفحات
                                                    <i class="fas fa-angle-down">
                                                    </i>
                                                </a>
                                                <ul class="submenu">
                                                    <li class="has-dropdown">
                                                        <a href="project.html">
                                                            پروژه ها
                                                            <i class="fas fa-angle-down">
                                                            </i>
                                                        </a>
                                                        <ul class="submenu">
                                                            <li>
                                                                <a href="project.html">
                                                                    پروژه
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="project-carousel.html">
                                                                    پروژه کروسل
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="project-details.html">
                                                                    جزئیات پروژه
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-dropdown">
                                                        <a href="team.html">
                                                            تیم
                                                            <i class="fas fa-angle-down">
                                                            </i>
                                                        </a>
                                                        <ul class="submenu">
                                                            <li>
                                                                <a href="team.html">
                                                                    تیم ما
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="team-carousel.html">
                                                                    تيم کروسل
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="team-details.html">
                                                                    جزئیات تیم
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="pricing.html">
                                                            قیمت گذاری
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="faq.html">
                                                            سوالات متداول
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="404.html">
                                                            صفحه 404
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="news.html">
                                                    وبلاگ
                                                    <i class="fas fa-angle-down">
                                                    </i>
                                                </a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="news.html">
                                                            وبلاگ گريد
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news-standard.html">
                                                            وبلاگ استاندارد
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="news-details.html">
                                                            جزئیات وبلاگ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html">
                                                    تماس
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <a class="search-trigger search-icon" href="#0">
                                <i class="fal fa-search">
                                </i>
                            </a>
                            <div class="header-button">
                                <a class="theme-btn bg-white" href="contact.html">
                                    <span>
                                        دریافت یک نقل قول
                                        <i class="fa-solid fa-arrow-left-long">
                                        </i>
                                    </span>
                                </a>
                            </div>
                            <div class="header__hamburger d-lg-none my-auto">
                                <div class="sidebar__toggle">
                                    <i class="fas fa-bars">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- جستجو...ea Start -->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="fas fa-times search-close" id="search-close">
            </i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input class="main-search-input" placeholder="جستجو..." type="search" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main>
        @RenderBody()
    </main>
    <!--<< Footer Section Start >>-->
    <footer class="footer-section footer-bg">
        <div class="footer-shape-4">
            <img alt="shape-img" src="/img/footer-shape-4.png" />
        </div>
        <div class="shape-2">
            <img alt="shape-img" src="/img/footer-shape-3.png" />
        </div>
        <div class="footer-widgets-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>
                                    درباره ما
                                </h3>
                            </div>
                            <div class="footer-content">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#">
                                        <i class="fab fa-facebook-f">
                                        </i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter">
                                        </i>
                                    </a>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin-in">
                                        </i>
                                    </a>
                                    <a href="#">
                                        <i class="fa-brands fa-youtube">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".5s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>
                                    لینک های سریع
                                </h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a href="about.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        درباره اينفوتک
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        خدمات ما
                                    </a>
                                </li>
                                <li>
                                    <a href="news.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        وبلاگ های ما
                                    </a>
                                </li>
                                <li>
                                    <a href="faq.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        سوالات متداول
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        با ما تماس بگیرید
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".5s">
                        <div class="single-footer-widget style-margin">
                            <div class="widget-head">
                                <h3>
                                    راه حل فناوری اطلاعات
                                </h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a href="service-details.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        مدیریت فناوری اطلاعات
                                    </a>
                                </li>
                                <li>
                                    <a href="service-details.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        توسعه وب
                                    </a>
                                </li>
                                <li>
                                    <a href="service-details.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        امنیت سایبری
                                    </a>
                                </li>
                                <li>
                                    <a href="service-details.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        بهینه سازی سئو
                                    </a>
                                </li>
                                <li>
                                    <a href="service-details.html">
                                        <i class="fa-solid fa-chevron-left">
                                        </i>
                                        توسعه برنامه
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                        <div class="single-footer-widget style-margin">
                            <div class="widget-head">
                                <h3>
                                    خبرنامه
                                </h3>
                            </div>
                            <div class="footer-content">
                                <p>
                                    برای دریافت آخرین به روز رسانی ها، برای جستجوی خبرنامه هفتگی ثبت نام کنید.
                                </p>
                                <div class="footer-input">
                                    <input id="email2" placeholder="آدرس ايميل" type="email" />
                                    <button class="newsletter-btn" type="submit">
                                        <i class="fab fa-telegram-plane">
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom style-3">
            <div class="container">
                <div class="footer-wrapper d-flex align-items-center justify-content-between">
                    <div class="footer-logo wow fadeInRight" data-wow-delay=".3s">
                        <a href="index.html">
                            <img alt="logo-img" src="/img/logo/white-logo.svg" />
                        </a>
                    </div>
                    <p class="wow fadeInLeft color-2" data-wow-delay=".5s">
                        © همه حق چاپ 2024 توسط
                        <a href="index.html">
                            اینفوتک
                        </a>
                    </p>
                </div>
            </div>
            <a class="scroll-icon" href="#" id="scrollUp">
                <i class="far fa-arrow-up">
                </i>
            </a>
        </div>
    </footer>
    <!--<< All JS Plugins >>-->
    <script src="/lib/jquery/dist/jquery.min.js">
    </script>
    <!--<< Viewport Js >>-->
    <script src="/lib/viewport/viewport.jquery.js">
    </script>
    <!--<< Bootstrap Js >>-->
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>
    <!--<< Nice Select Js >>-->
    <script src="/lib/nice-select/jquery.nice-select.min.js">
    </script>
    <!--<< Waypoints Js >>-->
    <script src="/lib/waypoints/jquery.waypoints.js">
    </script>
    <!--<< Counterup Js >>-->
    <script src="/lib/counterup/jquery.counterup.min.js">
    </script>
    <!--<< Swiper Slider Js >>-->
    <script src="/lib/swiper-bundle/swiper-bundle.min.js">
    </script>
    <!--<< MeanMenu Js >>-->
    <script src="/lib/meanmenu/jquery.meanmenu.min.js">
    </script>
    <!--<< Magnific Popup Js >>-->
    <script src="/lib/magnific-popup/jquery.magnific-popup.min.js">
    </script>
    <!--<< Wow Animation Js >>-->
    <script src="/lib/wow/wow.min.js">
    </script>
    <!--<< Main.js >>-->
    <script src="/js/Customer/main.js">
    </script>
</body>
</html>
