@model CustomerLayoutViewModel
@{
    var currentPage = Context.Request.Path.ToUriComponent();
    var pageInModel = Model.HeaderViewModel.Pages!.SingleOrDefault(p => p.Action == currentPage);
    if (pageInModel == null)
    {
        pageInModel = Model.HeaderViewModel.Pages!.Single(p => p.Id == 1);
    }
}
<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<partial name="_HeadArea" model="pageInModel"/>
<body>
    <!-- Preloader Start -->
    <partial name="_Preloader" />
    <!-- Offcanvas Area Start -->
    <partial name="_OffcanvasArea" />
    <!-- Header Section Start -->
    <partial name="_Header" model="Model.HeaderViewModel" />
    <main>
        @RenderBody()
    </main>
    <!--<< Footer Section Start >>-->
    <partial name="_Footer" />
    <!--<< All JS Plugins >>-->
    <partial name="_Scripts" />
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
