@model CustomerLayoutViewModel

<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<partial name="_HeadArea" />
<body>
    <!-- Preloader Start -->
    <partial name="_Preloader" />
    <!-- Offcanvas Area Start -->
    <partial name="_OffcanvasArea" />
    <!-- Header Section Start -->
    <partial name="_Header" model="Model.HeaderViewModel" />
    <main>
        @RenderBody()
    </main>
    <!--<< Footer Section Start >>-->
    <partial name="_Footer" />
    <!--<< All JS Plugins >>-->
    <partial name="_Scripts" />
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
