@model List<Marque>
@{
    var marqueCount = 0;
}

<div class="marque-section section-padding">
    <div class="container-fluid">
        <div class="marquee-wrapper style-2 text-slider">
            <div class="marquee-inner to-right">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item style-2">
                        @foreach (var marque in Model)
                        {
                            if (marqueCount < 12)
                            {
                                <span title="@marque.Title" class="text-slider text-style">
                                    @marque.Name
                                </span>
                                <span class="text-slider">
                                    <img alt="img" src="/img/asterisk.svg"/>
                                </span>
                                marqueCount++;
                            }
                            else
                            {
                                break;
                            }

                        }

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
