<div class="marque-section section-padding">
    <div class="container-fluid">
        <div class="marquee-wrapper style-2 text-slider">
            <div class="marquee-inner to-right">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item style-2">
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            امنیت سایبری
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            راه حل فناوری اطلاعات
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            فن آوری
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            امنیت داده ها
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            امنیت سایبری
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            راه حل فناوری اطلاعات
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            فن آوری
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            امنیت داده ها
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            امنیت سایبری
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            راه حل فناوری اطلاعات
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            فن آوری
                        </span>
                        <span class="text-slider">
                            <img alt="img" src="/img/asterisk.svg" />
                        </span>
                        <span class="text-slider text-style">
                            امنیت داده ها
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
