<section class="news-section-3 fix section-padding">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title">
                <span class="wow fadeInUp">
                    آخرین وبلاگ
                </span>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">
                    آخرین ما را بررسی کنید
                    <br />
                    اخبار و مقالات
                </h2>
            </div>
            <partial name="_ArrayButton" />
        </div>
        <div class="swiper news-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="news-card-items style-2">
                        <div class="news-image">
                            <img alt="news-img" src="/img/news/04.jpg" />
                            <div class="post-date">
                                <h3>
                                    17
                                    <br />
                                    <span>
                                        خرداد
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="news-content">
                            <ul>
                                <li>
                                    <i class="fa-regular fa-user">
                                    </i>
                                    توسط ادمین
                                </li>
                                <li>
                                    <i class="fa-solid fa-tag">
                                    </i>
                                    خدمات آی تی
                                </li>
                            </ul>
                            <h3>
                                <a href="news-details.html">
                                    ساده سازی راه حل های موفق فناوری اطلاعات
                                </a>
                            </h3>
                            <a class="theme-btn-2 mt-3" href="news-details.html">
                                ادامه مطلب
                                <i class="fa-solid fa-arrow-left-long">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-card-items style-2">
                        <div class="news-image">
                            <img alt="news-img" src="/img/news/07.jpg" />
                            <div class="post-date">
                                <h3>
                                    20
                                    <br />
                                    <span>
                                        خرداد
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="news-content">
                            <ul>
                                <li>
                                    <i class="fa-regular fa-user">
                                    </i>
                                    توسط ادمین
                                </li>
                                <li>
                                    <i class="fa-solid fa-tag">
                                    </i>
                                    طراحی UI/UX
                                </li>
                            </ul>
                            <h3>
                                <a href="news-details.html">
                                    باز کردن پتانسیل از طریق فناوری اطلاعات
                                </a>
                            </h3>
                            <a class="theme-btn-2 mt-3" href="news-details.html">
                                ادامه مطلب
                                <i class="fa-solid fa-arrow-left-long">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-card-items style-2">
                        <div class="news-image">
                            <img alt="news-img" src="/img/news/08.jpg" />
                            <div class="post-date">
                                <h3>
                                    10
                                    <br />
                                    <span>
                                        خرداد
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="news-content">
                            <ul>
                                <li>
                                    <i class="fa-regular fa-user">
                                    </i>
                                    توسط ادمین
                                </li>
                                <li>
                                    <i class="fa-solid fa-tag">
                                    </i>
                                    امنیت سایبری
                                </li>
                            </ul>
                            <h3>
                                <a href="news-details.html">
                                    باز کردن پتانسیل از طریق فناوری اطلاعات
                                </a>
                            </h3>
                            <a class="theme-btn-2 mt-3" href="news-details.html">
                                ادامه مطلب
                                <i class="fa-solid fa-arrow-left-long">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
