<section class="project-section-3 section-padding pb-0 fix bg-cover" style="background-image: url('/img/testimonial/bg.jpg');">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title">
                <span class="text-white">
                    پروژه ها
                </span>
                <h2 class="text-white">
                    جدیدترین شگفت انگیز ما
                    <br />
                    پروژه های مشتری
                </h2>
            </div>
            <div class="video-box">
                <a class="video-btn ripple video-popup" href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I">
                    <i class="fa-solid fa-play">
                    </i>
                </a>
            </div>
        </div>
        <div class="project-wrapper style-2">
            <div class="swiper project-slider-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="project-items style-2">
                            <div class="project-image">
                                <img alt="project-img" src="/img/project/08.jpg" />
                                <div class="project-content">
                                    <p>
                                        فن آوری
                                    </p>
                                    <h4>
                                        <a href="project-details.html">
                                            توسعه نرم افزار
                                        </a>
                                    </h4>
                                    <a class="arrow-icon-2" href="project-details.html">
                                        <i class="fa-solid fa-arrow-left">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project-items style-2">
                            <div class="project-image">
                                <img alt="project-img" src="/img/project/09.jpg" />
                                <div class="project-content">
                                    <p>
                                        راه حل ها
                                    </p>
                                    <h4>
                                        <a href="project-details.html">
                                            راه حل های تحلیلی
                                        </a>
                                    </h4>
                                    <a class="arrow-icon-2" href="project-details.html">
                                        <i class="fa-solid fa-arrow-left">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project-items style-2">
                            <div class="project-image">
                                <img alt="project-img" src="/img/project/10.jpg" />
                                <div class="project-content">
                                    <p>
                                        فن آوری
                                    </p>
                                    <h4>
                                        <a href="project-details.html">
                                            راه حل های طراحی
                                        </a>
                                    </h4>
                                    <a class="arrow-icon-2" href="project-details.html">
                                        <i class="fa-solid fa-arrow-left">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project-items style-2">
                            <div class="project-image">
                                <img alt="project-img" src="/img/project/11.jpg" />
                                <div class="project-content">
                                    <p>
                                        فن آوری
                                    </p>
                                    <h4>
                                        <a href="project-details.html">
                                            توسعه نرم افزار
                                        </a>
                                    </h4>
                                    <a class="arrow-icon-2" href="project-details.html">
                                        <i class="fa-solid fa-arrow-left">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-dot-2 mr-right">
            <div class="dot-2">
            </div>
        </div>
    </div>
</section>
