<section class="service-section-3 pb-0 fix section-padding bg-cover" style="background-image: url('/img/service/service-bg-3.jpg');">
    <div class="container">
        <div class="section-title-area">
            <div class="section-title">
                <span>
                    کاری که ما انجام می دهیم
                </span>
                <h2>
                    ما مشکلات IT را حل می کنیم
                    <br />
                    با تکنولوژی
                </h2>
            </div>
            <a class="theme-btn" href="service.html">
                مشاهده همه خدمات
                <i class="fa-solid fa-arrow-left-long">
                </i>
            </a>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-card-items">
                    <div class="service-image">
                        <img alt="service-img" src="/img/service/02.jpg" />
                    </div>
                    <div class="icon-2">
                        <img alt="img" src="/img/service/icon/s-icon-1.svg" />
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <img alt="img" src="/img/service/icon/s-icon-1.svg" />
                        </div>
                        <h4>
                            <a href="service-details.html">
                                امنیت پایگاه داده
                            </a>
                        </h4>
                        <p>
                            لایه بچه ها در حال تنش بزرگ، این است.
                        </p>
                        <a class="theme-btn-2 mt-3" href="service-details.html">
                            ادامه مطلب
                            <i class="fa-solid fa-arrow-left-long">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-card-items">
                    <div class="service-image">
                        <img alt="service-img" src="/img/service/03.jpg" />
                    </div>
                    <div class="icon-2">
                        <img alt="img" src="/img/service/icon/s-icon-2.svg" />
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <img alt="img" src="/img/service/icon/s-icon-2.svg" />
                        </div>
                        <h4>
                            <a href="service-details.html">
                                مشاوره فناوری اطلاعات
                            </a>
                        </h4>
                        <p>
                            لایه بچه ها در حال تنش بزرگ، این است.
                        </p>
                        <a class="theme-btn-2 mt-3" href="service-details.html">
                            ادامه مطلب
                            <i class="fa-solid fa-arrow-left-long">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-card-items">
                    <div class="service-image">
                        <img alt="service-img" src="/img/service/04.jpg" />
                    </div>
                    <div class="icon-2">
                        <img alt="img" src="/img/service/icon/s-icon-4.svg" />
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <img alt="img" src="/img/service/icon/s-icon-5.svg" />
                        </div>
                        <h4>
                            <a href="service-details.html">
                                توسعه برنامه
                            </a>
                        </h4>
                        <p>
                            لایه بچه ها در حال تنش بزرگ، این است.
                        </p>
                        <a class="theme-btn-2 mt-3" href="service-details.html">
                            ادامه مطلب
                            <i class="fa-solid fa-arrow-left-long">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-card-items">
                    <div class="service-image">
                        <img alt="service-img" src="/img/service/05.jpg" />
                    </div>
                    <div class="icon-2">
                        <img alt="img" src="/img/service/icon/s-icon-3.svg" />
                    </div>
                    <div class="service-content">
                        <div class="icon">
                            <img alt="img" src="/img/service/icon/s-icon-3.svg" />
                        </div>
                        <h4>
                            <a href="service-details.html">
                                امنیت پایگاه داده
                            </a>
                        </h4>
                        <p>
                            لایه بچه ها در حال تنش بزرگ، این است.
                        </p>
                        <a class="theme-btn-2 mt-3" href="service-details.html">
                            ادامه مطلب
                            <i class="fa-solid fa-arrow-left-long">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-banner-2 section-padding">
        <div class="container">
            <div class="cta-wrapper-2">
                <div class="author-icon">
                    <div class="icon">
                        <i class="fa-solid fa-phone">
                        </i>
                    </div>
                    <div class="content">
                        <span>
                            اکنون با ما تماس بگیرید
                        </span>
                        <h4>
                            <a href="tel:+2085550112">
                                +208-555-0112
                            </a>
                        </h4>
                    </div>
                </div>
                <h3>
                    در ارتباط باشید
                    <br />
                    پیشرفته IT
                </h3>
                <a class="theme-btn bg-white" href="contact.html">
                    دریافت یک نقل قول
                    <i class="fa-solid fa-arrow-left-long">
                    </i>
                </a>
            </div>
        </div>
    </div>
</section>