<section class="team-section-3 fix section-padding section-bg">
    <div class="line-shape">
        <img alt="shape-img" src="/img/team/line-shape.png" />
    </div>
    <div class="mask-shape">
        <img alt="shape-img" src="/img/team/mask-shape-2.png" />
    </div>
    <div class="container">
        <div class="section-title-area">
            <div class="section-title">
                <span class="wow fadeInUp">
                    اعضای تیم
                </span>
                <h2 class="wow fadeInUp" data-wow-delay=".3s">
                    تیم اختصاصی ما
                    <br />
                    اعضا
                </h2>
            </div>
            <a class="theme-btn wow fadeInUp" data-wow-delay=".5s" href="team.html">
                همه اعضا
                <i class="fa-solid fa-arrow-left-long">
                </i>
            </a>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="single-team-items">
                    <div class="team-image">
                        <img alt="team-img" src="/img/team/04.jpg" />
                        <div class="social-profile">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                            <span class="plus-btn">
                                <i class="fas fa-share-alt">
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h3>
                            <a href="team-details.html">
                                ماروین مک کینی
                            </a>
                        </h3>
                        <p>
                            طراح وب
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="single-team-items">
                    <div class="team-image">
                        <img alt="team-img" src="/img/team/05.jpg" />
                        <div class="social-profile">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                            <span class="plus-btn">
                                <i class="fas fa-share-alt">
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h3>
                            <a href="team-details.html">
                                ماروین مک کینی
                            </a>
                        </h3>
                        <p>
                            طراح وب
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="single-team-items">
                    <div class="team-image">
                        <img alt="team-img" src="/img/team/06.jpg" />
                        <div class="social-profile">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                            <span class="plus-btn">
                                <i class="fas fa-share-alt">
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h3>
                            <a href="team-details.html">
                                ماروین مک کینی
                            </a>
                        </h3>
                        <p>
                            طراح وب
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                <div class="single-team-items">
                    <div class="team-image">
                        <img alt="team-img" src="/img/team/07.jpg" />
                        <div class="social-profile">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter">
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                            <span class="plus-btn">
                                <i class="fas fa-share-alt">
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h3>
                            <a href="team-details.html">
                                ماروین مک کینی
                            </a>
                        </h3>
                        <p>
                            طراح وب
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
